@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@import './theme/_colors.css';
@import './theme/_typography.css';

body {
  background-color: var(--color-gray-200);

  font-weight: var(--font-weight-medium);
  color: var(--color-gray-900);
  line-height: 100%;
}
