:root {
  --loader-bg-color: var(--color-gray-200);
  --loader-highlight-color: var(--color-gray-100);
  --loader-animation-duration: 4s;
  --loader-gradient-width: 200%;
  --loader-animation-offset: 200%;
}

$loader-bg-color: var(--loader-bg-color);
$loader-highlight-color: var(--loader-highlight-color);
$loader-animation-duration: var(--loader-animation-duration);
$loader-gradient-width: var(--loader-gradient-width);
$loader-animation-offset: var(--loader-animation-offset);

@keyframes loader {
  0% {
    background-position: -#{$loader-animation-offset} 0;
  }
  100% {
    background-position: #{$loader-animation-offset} 0;
  }
}

.loading-skeleton__container {
  position: relative;
  overflow: hidden;
  background: $loader-bg-color 50%;

  .loading-skeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(
      to right,
      transparent 0%,
      $loader-highlight-color 50%,
      transparent 100%
    );
    background-size: $loader-gradient-width 100%;
    animation: loader $loader-animation-duration infinite linear;
  }
}
